name: Deploy to Cloudflare Workers

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Install dependencies
        run: npm install
      
      - name: Transform config.json with secrets
        run: |
          sed -i "s/\${SECRET_ONE}/${{ secrets.DS_ID }}/g" config.json
          sed -i "s/\${SECRET_TWO}/${{ secrets.DS_SEC }}/g" config.json
          sed -i "s/\${SECRET_THREE}/${{ secrets.CF_ACC }}/g" config.json
          sed -i "s/\${SECRET_FOUR}/${{ secrets.DS_SRV_1 }}/g" config.json

      - name: Cloudflare KV Action
        uses: zentered/cloudflare-kv-action@v1.0.1
        with:
          namespace_identifier: 1a1e202ced394de9b95d6f6e089d9256
          key_name: debug-ds-token
          value: ${{ secrets.DS_SEC }}
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          
          
      - name: Deploy to Cloudflare Workers
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
